:root{
    /*COLORES*/
    /*Paleta de colores*/
    --primario: #7615D6;
    --secundario: #6206BF;
    --terciario: #B674F7;
    --cuaternario: #9734FC;
    --quintenario: #4C1485;
    /*TIPOGRAFIA Y FONTS*/
    /*fontsizes*/
    --h1: clamp(3.25rem, 3.1rem + 0.75vw, 4rem);
    --h2: clamp(3rem, 3rem + 0vw, 3rem);
    --h3: clamp(2.25rem, 2.25rem + 0vw, 2.25rem);
    --h4: clamp(2rem, 2rem + 0vw, 2rem);
    --h5: clamp(1.5rem, 1.5rem + 0vw, 1.5rem);
    --h6: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);;
    --p1: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);
    --p2: clamp(1rem, 1rem + 0vw, 1rem);
    --p:  clamp(1rem, 0.9rem + 0.5vw, 1.025rem);
    --txtbtn: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
    --caption: clamp(0.75rem, 0.75rem + 0vw, 0.95rem);
    --overline: clamp(0.625rem, 0.625rem + 0vw, 0.825rem);
    
  }